<dps-auth-layout *dpsLet="route.params|async as params">

  <form fxLayout="column" class="dps-reset-password-content" [formGroup]="resetPasswordForm"
    (ngSubmit)="onResetPasswordBtnClick(params)" [fxShow]="params?.token">

    <h1>CREATE NEW PASSWORD
      <mat-error *ngIf="!loading">{{errorText}}</mat-error>
      <mat-progress-bar mode="indeterminate" *ngIf="loading" color="warn"></mat-progress-bar>
    </h1>

    <mat-form-field floatLabel="always" class="dps-name-input">
      <mat-label>NEW PASSWORD</mat-label>
      <input matInput placeholder="" name="newPassword" formControlName="newPassword" [readOnly]="loading"
        [type]="hideNewPassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix *ngIf="passwordData.newPassword.value" (mousedown)="hideNewPassword = false"
        (mouseup)="hideNewPassword = true" type="button" [attr.aria-label]="'hideNewPassword password'"
        [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="submitted && passwordData.newPassword.errors?.required">Password is required</mat-error>
      <mat-error *ngIf="passwordData.newPassword.errors?.passwordStrength">
        {{passwordData.newPassword.errors.passwordStrength}}</mat-error>
      <mat-error *ngIf="passwordData.newPassword.errors?.minlength">
        Password must be at least 8 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>RE-ENTER PASSWORD</mat-label>
      <input matInput placeholder="" name="confirmPassword" [type]="hidePassword ? 'password' : 'text'"
        formControlName="confirmPassword" [readOnly]="loading">
      <button mat-icon-button matSuffix *ngIf="passwordData.confirmPassword.value" (mousedown)="hidePassword = false"
        (mouseup)="hidePassword = true" type="button" [attr.aria-label]="'hidePassword password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordData.confirmPassword.errors?.mustMatch">Passwords do not match</mat-error>
    </mat-form-field>

    <div class="dps-reset-password-btn">
      <button mat-flat-button [disabled]="loading" type="submit"> Reset Password </button>
    </div>

  </form>

  <div fxLayout="column" class="dps-reset-password-content" [fxHide]="params?.token || sendSuccess">
    <h1>LINK EXPIRED
      <mat-error>The link you clicked to reset your password is expired</mat-error>
      <mat-progress-bar mode="indeterminate" *ngIf="loading" color="warn"></mat-progress-bar>
    </h1>
    <div class="dps-reset-password-btn">
      <button mat-flat-button [disabled]="loading" (click)="onResiveNewLinkClick(params)"> Resive new link </button>
    </div>
  </div>

  <div fxLayout="column" class="dps-reset-password-content" [fxShow]="sendSuccess" *ngIf="params?.email">
    <h1>RESET EMAIL SENT
      <mat-error>Click the link emailed to {{params?.email}} within the next hour to create a new
        password.</mat-error>
    </h1>
    <div class="dps-resend-btn">
      <button mat-flat-button (click)="onResend()"> Resend </button>
    </div>
  </div>
</dps-auth-layout>
