<dps-auth-layout>
  <form fxLayout="column" class="dps-forgot-password-content" [formGroup]="forgotPasswordForm"
    (ngSubmit)="onBeginResetBtnClick()" [fxHide]="sendSuccess">
    <h1>RESET PASSWORD
      <mat-error *ngIf="!loading">{{errorText}}</mat-error>
      <mat-progress-bar mode="indeterminate" *ngIf="loading" color="warn"></mat-progress-bar>
    </h1>
    <mat-form-field floatLabel="always" class="dps-email-input">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter your Email here" formControlName="email" [readOnly]="loading">
      <mat-error *ngIf="submitted && forgotPasswordData.email.errors?.required">Email is required</mat-error>
      <mat-error *ngIf="submitted && forgotPasswordData.email.errors?.email">Invalid Email</mat-error>
    </mat-form-field>
    <div class="dps-begin-reset-btn">
      <button mat-flat-button [disabled]="loading"> Begin reset </button>
    </div>
  </form>
  <div fxLayout="column" class="dps-forgot-password-content" [fxShow]="sendSuccess">
    <h1>RESET EMAIL SENT
      <mat-error>Click the link emailed to {{forgotPasswordData.email.value}} within the next hour to create a new
        password.</mat-error>
    </h1>
    <div class="dps-resend-btn">
      <button mat-flat-button (click)="sendSuccess=false"> Resend </button>
    </div>
  </div>
</dps-auth-layout>
