$dps-mat-white:#fff;
$dps-mat-blue-0: #eaf0f4;
$dps-mat-blue-1: #9aa3ae;
$dps-mat-blue-2: #34465c;
$dps-mat-blue-3:#0071bc;
$dps-mat-blue-4: #edf6f9;
$dps-mat-blue-5:#2797e1;

$dps-mat-orange:#f7931e;
$dps-mat-green:#0eaf9c;
$dps-mat-bright-green:#8cc63f;
$dps-mat-brown:#a67c52;
$dps-mat-blue-gray:#a7c1ce;
// $dps-mat-blue: (dull-50: #9aa3ae,
//   dull-500: #34465c);
