<div class="dps-auth-layout" fxLayout="row">

  <div fxLayoutAlign="center" fxLayout="column" fxHide.lt-md class="dps-theme-img" fxFlex="60">

    <h1>
      DPS SERVICE DESK
      <span>Solve issues faster than ever!</span>
    </h1>
    <div class="mid-content">
      <img src="../../assets/images/theme-image.png" />
    </div>

  </div>

  <div fxFlex fxLayout="column" fxFlex="1 1 auto" fxLayoutAlign="center stretch" class="dps-auth-content">
    <h1 fxHide fxShow.lt-md class="dps-title">
      DPS SERVICE DESK
      <span>Solve issues faster than ever!</span>
    </h1>
    <ng-content>
    </ng-content>
  </div>
</div>
